**/.env
**/application-*.properties
**/gapi-*.json
**/gapi-*.txt
**/gapi.json
**/gapi.txt
**/package-lock.json
*.iml
*.ipr
*.iws
*.launch
*.sublime-workspace
.DS_Store
.apt_generated
.c9/
.checkstyle/
.classpath
.env
.factorypath
.gradle
.gradle/
.history/*
.idea
.idea/
.ldt/
.m2/
.npm/
.project
.sass-cache/
.scannerwork/
.settings
.settings/
.sonar/
.springBeans
.sts4-cache
.tmp/
.vscode/*
/.angular
/.nb-gradle/
/.npm
/bazel-out
/connect.lock
/coverage
/dist
/dist/
/libpeerconnection.log
/nbbuild/
/nbdist/
/nbproject/private/
/node_modules
/out
/out-tsc
/target
/tmp
/typings
HELP.md
Thumbs.db
__screenshots__/
application-*.properties
bin/
build/
config/**/application-*.properties
dist/
gapi-*.json
gapi-*.txt
gapi.json
gapi.txt
npm-debug.log
out/
package-lock.json
sonar-project.properties
src/main/resources/application-*.properties
testem.log
tmp/
yarn-error.log
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/settings.json
!.vscode/tasks.json
!gradle/wrapper/gradle-wrapper.jar
